#tittle-exchange {
    width: px2rem(690px);
    height: px2rem(100px);
    margin: px2rem(20px) auto;
    background: url('../images/tittle-exchange.png') no-repeat center center;
    background-size: cover;
}

.exchange {
    width: px2rem(750px);
    height: px2rem(770px);
    margin: px2rem(20px) auto;
    background: url('../images/exchange_bg.png') no-repeat center center;
    background-size: cover;
}