.tab-nav {
    display: flex;
    justify-content: space-between;
    width: px2rem(750px);
    height: px2rem(85px);
    background-color: $cheng;
    font: px2rem(22px) / px2rem(85px) "Microsoft Yahei", sans-serif;
    color: $bai;
    text-align: center;

    li {
        padding: 0 px2rem(5px);
        flex-grow: 1;
    }

    a {
        display: block;
        color: $bai;

    }

    .actived {
        background: $shenhuang;
        color: $hei;
    }

}
