$shenhui: #9c9c9c;
$hui: #d7d6d9;
$danhui: #e2e2e2;
$hei: #000;
$bai: #fff;
$huang: #ffd300;
$huang-bg: #fdaf47;
$shenhuang: #ff9200;
$cheng: #ff5d1a;
$dancheng: #fd814a;
$zi: #271f34;
$danzi: #4e465b;
$baicheng: #ffb08d;
